.contents { position: relative; width: 100%; overflow: hidden; }
.contents .box {
	position: absolute;
    left: 5vw;
    top: 93vw;
    width: 90vw;
    height: 54vw;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}
.contents .box iframe { width: 100%; height: 100%; }